body {
    background-color:#641;
    color:#ccc;
    font-size:16px;
    font-family:helvetica, sans-serif;
}
a:link {color:#bfb;}
a:visited {color:#bbf;}
table {
    background-color:#430;
    color:#fff;
    padding:2px 10px 2px 10px;
}
td {
    padding-left:5px;
    padding-right:5px;
}
th {
    font-size:22px;
}
form {
    display:inline;
}
.comment {
    background-color:#541;
    width:450px;
    border:2px outset #530;
    padding:5px;
}
h3, h5 {
    margin:0;
    padding:0;
}
#reply_id {
    position:relative;
    left:400px;
}
#login_to_reply {
    font-size:14px;
    position:relative;
    left:355px;
}
#arrow {
    text-decoration:none;
}